/target
.vscode
node_modules
yarn.lock
*.log

# Logs
logs/
*.log
npm-debug.log*

# IDE & editors
.idea
.vscode

# Dependency directory
node_modules/

# Compiled and tempory files
*.vsix

.vscode-test-web
dist
/editors/vscode/out