/target
.vscode
node_modules
yarn.lock
*.log

# Logs
logs/
*.log
npm-debug.log*

# IDE & editors
.idea
.vscode

# Dependency directory
node_modules/

# Compiled and tempory files
*.vsix

pkg
dist
.vscode-test-web
/editors/utils/jsona.configuration.json
/editors/utils/jsona.grammar.json
/editors/vscode/out
js/*/index_bg.*
js/*/index_web.js
js/*/index.js
!js/lsp/index.js
!yarn.lock