name: VSCode Release

on:
  push:
    tags:
    - vscode-v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    name: Publish to Github Releases And Marketplace

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - uses: extractions/setup-crate@v1
      with:
        owner: sigoden
        name: argc

    - uses: extractions/setup-crate@v1
      with:
        owner: rustwasm
        name: wasm-pack

    - name: Install Rust Toolchain Components
      uses: actions-rs/toolchain@v1
      with:
        components: clippy, rustfmt
        override: true
        toolchain: stable
        target: wasm32-unknown-unknown

    - uses: Swatinem/rust-cache@v1

    - uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'yarn'

    - run: corepack enable

    - run: argc prepare

    - run: argc build-js

    - run: yarn package -o jsona.vsix
      working-directory: editors/vscode

    - name: Publish Release
      uses: softprops/action-gh-release@v0.1.5
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        draft: false
        files: editors/vscode/jsona.vsix
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish Extension
      run: npx vsce publish --pat ${{ secrets.VSCODE_MARKETPLACE_TOKEN }} --packagePath jsona.vsix
      working-directory: editors/vscode